# SPDX-License-Identifier: 0BSD

*
!/.gitignore
!/.gitmodules
!/.vscode
!/.vscode/settings.json
!/LICENSE
!/Pipfile
!/Pipfile.lock
!/angle
!/depot_tools
!/libepoxy
!/update
!/qemu
!/run
!/virglrenderer
